doctype html
html(lang="fr")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Social Up"
    script(type="text/javascript", src="bower_components/Sortable/Sortable.js")
    script(type="text/javascript", data-main="app/main.js", src="bower_components/requirejs/require.js")
    link(
      rel="stylesheet"
      type="text/css"
      href="bundle.css"
    )
    link(
      rel="stylesheet"
      type="text/css"
      href='bower_components/bootstrap-css-only/css/bootstrap.css'
    )
    link(
      rel="stylesheet"
      type="text/css"
      href='bower_components/bootstrap-css-only/css/bootstrap-theme.css'
    )
    link(
      rel="stylesheet"
      type="text/css"
      href='bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.min.css'
    )

  body(ng-controller="MainController as mainController")
    md-content.md-padding(layout="{{ layout }}")
      md-fab-speed-dial.md-scale.menu-dial(md-direction="{{ menu.direction }}" md-open="openMenu" style="top: 0px, left: 5px")
        md-fab-trigger
          md-button.md-fab.md-primary.md-hue-1.burger(aria-label="menu")
            span.glyphicon.glyphicon-menu-hamburger
        md-fab-actions
          md-button.md-fab.md-raised.md-mini(ui-sref="login" aria-label="Login" ng-if="!$root.user")
            md-tooltip(md-direction="{{ menu.tooltipDirection }}" md-visible="false" md-autohide="false") Connectez-vous
            span.glyphicon.glyphicon-log-in
          md-button.md-fab.md-raised.md-mini(ui-sref="manageSocialNetworks" aria-label="Manage Social Networks" ng-if="$root.user")
            md-tooltip(md-direction="{{ menu.tooltipDirection }}" md-visible="false" md-autohide="false") Gérez vos réseaux sociaux
            span.glyphicon.glyphicon-list-alt
          md-button.md-fab.md-raised.md-mini(ng-if="$root.user")
            img.gravatar(ng-src="{{ 'https://www.gravatar.com/avatar/' + $root.user.hashedLogin + '?s=40&d=404' }}")
          md-button.md-fab.md-raised.md-mini(ng-click="mainController.signout()" aria-label="Logout" ng-if="$root.user")
            md-tooltip(md-direction="{{ menu.tooltipDirection }}" md-visible="false" md-autohide="false") Déconnection
            span.glyphicon.glyphicon-log-out

      adf-dashboard(name="mydashboard" collapsible="true" structure="4-8" adf-model="mainController.model")
  
